* {
  margin: 0;
  padding: 0;
}
inpout,
button {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.channel {
  display: flex;
  padding-top: 0.4rem;
}
.channel div {
  flex-grow: 1;
  width: 0px;
}
.channel div a {
  font-size: 0.44rem;
  color: #666666;
  text-align: center;
  line-height: 1.04rem;
  display: block;
}
.channel div a:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 1.6rem;
  height: 1.6rem;
  background-size: 1.6rem 1.6rem;
}
.channel:nth-of-type(1) div:nth-of-type(1) a:before {
  background-image: url(../images/1.png);
}
.channel:nth-of-type(1) div:nth-of-type(2) a:before {
  background-image: url(../images/2.png);
}
.channel:nth-of-type(1) div:nth-of-type(3) a:before {
  background-image: url(../images/3.png);
}
.channel:nth-of-type(1) div:nth-of-type(4) a:before {
  background-image: url(../images/4.png);
}
.channel:nth-of-type(1) div:nth-of-type(5) a:before {
  background-image: url(../images/5.png);
}
.channel:nth-of-type(2) div:nth-of-type(1) a:before {
  background-image: url(../images/6.png);
}
.channel:nth-of-type(2) div:nth-of-type(2) a:before {
  background-image: url(../images/7.png);
}
.channel:nth-of-type(2) div:nth-of-type(3) a:before {
  background-image: url(../images/8.gif);
}
.channel:nth-of-type(2) div:nth-of-type(4) a:before {
  background-image: url(../images/9.png);
}
.channel:nth-of-type(2) div:nth-of-type(5) a:before {
  background-image: url(../images/10.png);
}
